<!DOCTYPE html>
<html lang="en">
<head>

<!-- CODED BY MATTHEUS DE KONING -->
<style>
.equal-panels, .equal-panels > div[class*='col-'] { display: flex; }
.equal-panels .panel { display: flex; flex: 1; flex-flow: column nowrap;}
.equal-panels .panel-body { flex-grow: 1; }
</style>

  {% block title %}<title>Our portfolio</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <!-- Add additional CSS in static file -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="container-fluid">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/"><h1> Portfolio</h1></a>
    </div>
    <ul class="nav navbar-nav ml-auto">
        <a href="/contact"><button type="button" class="btn btn-info"> <h3>Contact us</h3> </button></a>
    </ul>
  </div>
</nav>

  {% block content %}{% endblock %}





</div>
</body>
</html>